currentflows.json
[{"id":"317d143d.d17bac","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c1f9ea04.7dd7d8","type":"ui_form","z":"317d143d.d17bac","name":"","label":"","group":"7b930cf8.448754","order":0,"width":0,"height":0,"options":[{"label":"enter the query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":270,"y":320,"wires":[["39003f8a.707d3"]]},{"id":"39003f8a.707d3","type":"function","z":"317d143d.d17bac","name":"","func":"msg={\ndiscoveryparams:\n    {\n        \"environment_id:\":\"system\",\n        \"query\":msg.payload.input\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":160,"wires":[["8022ab6b.87f518"]]},{"id":"8022ab6b.87f518","type":"watson-discovery-v1","z":"317d143d.d17bac","name":"newsapp","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/099381e2-0731-4fe4-932e-1178859dba6c","x":500,"y":120,"wires":[["228f690a.73f4f6"]]},{"id":"228f690a.73f4f6","type":"function","z":"317d143d.d17bac","name":"","func":"msg.payload=msg.search_results.results[0].text\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":240,"wires":[["1c31855b.38325b","50462c03.bdb2f4"]]},{"id":"1c31855b.38325b","type":"debug","z":"317d143d.d17bac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":200,"wires":[]},{"id":"50462c03.bdb2f4","type":"ui_text","z":"317d143d.d17bac","group":"7b930cf8.448754","order":0,"width":0,"height":0,"name":"","label":"result","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":300,"wires":[]},{"id":"7b930cf8.448754","type":"ui_group","z":"","name":"news channel","tab":"b950d1b5.9ce8b","order":1,"disp":true,"width":"6","collapse":false},{"id":"b950d1b5.9ce8b","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]